<main>
    <section>
        {{#with program}}

        {{#with excursion}}

        <h1>
            {{name}} ({{location.country}} , {{location.city}})
        </h1>
        <date>{{date}}</date>

        <h3>Program:</h3>
        <ul class="list-group">

            {{#each program}}

            <li class="list-group-item mt-3"><strong>Name: </strong>{{name}} ({{type}}) - {{duration}} hours

                <ul>
                    {{#with details}}

                    {{#with museum}}
                    <span>
                        <strong>Museum: </strong>{{name}}

                        {{#with location}}
                        <strong>Location:</strong>
                        <span>
                            {{address}}, {{city}}, {{country}}
                        </span>
                        {{/with}}
                    </span>
                    <br>
                    <strong>
                        Exhibits:
                    </strong>
                    <ul class="list-group">
                        {{#each exhibits}}

                        <li class="list-group-item">
                            Name: {{name}}
                        </li>
                        {{#if artist}}
                        <li class="list-group-item">
                            Artist: {{artist}}
                        </li>
                        {{/if}}
                        <li class="list-group-item">
                            Description: {{description}}
                        </li>
                        <li class="list-group-item">
                            {{#if audio_guide}}
                            Audio guide: "Yes"
                            {{else}}
                            Audio guide: "No"
                            {{/if}}
                        </li>
                        <br>
                        {{/each}}
                    </ul>
                    {{/with}}



                    {{#with venue}}

                    <span>
                        <strong>Venue: </strong>{{name}}
                        <br>
                        {{#with location}}
                        <strong>Location:</strong>
                        <span>
                            {{address}}, {{city}}, {{country}}
                        </span>
                        {{/with}}
                    </span>
                    <br>
                    {{/with}}

                    <ul class="list-group">
                        {{#if performers}}
                        <strong>
                            Performers:
                        </strong>
                        {{/if}}
                        {{#each performers}}


                        <li class="list-group-item">
                            Name: {{name}}
                        </li>

                        <li class="list-group-item">
                            Type: {{type}}
                        </li>

                        <br>
                        {{/each}}
                    </ul>
                    {{#with guide}}
                    <strong> Guide:</strong>
                    <ul class="list-group">
                        <li class="list-group-item">Name: {{name}}</li>
                        <li class="list-group-item">Language: {{language}}</li>
                        <li class="list-group-item">Rating: {{rating}}</li>
                    </ul>
                    <br>
                    <br>
                    {{/with}}

                    {{/with}}
                </ul>
            </li>

            {{/each}}

        </ul>
        {{/with}}
        {{/with}}
    </section>
</main>