<main>
    <section>
        {{> breadcrumb}}

        <h2>{{header}}</h2>

        <div class="row">
            {{#each sortBlock }}
            <div class="col-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected> {{placeholder}}</option>
                    {{#each options }}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}}
        </div>
    </section>

    <section>

        <div class="row g-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {{#with filterBlock}}
                        {{#with sellers}}
                        <p class="text-body">{{title}}</p>
                        {{#each list }}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{value}}
                            </label>
                        </div>
                        {{/each}}
                        {{/with}}

                        <hr class="mt-3">

                        {{#with brands}}
                        <p class="text-body">{{title}}</p>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="{{input.placeholder}}">
                        </div>
                        {{#each options}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{value}}
                            </label>
                        </div>
                        {{/each}}
                        {{/with}}

                        <hr class="mt-3">

                        {{#with price}}
                        <form class="row g-3">
                            <div class="col-auto">
                                <b>{{title}}</b>
                            </div>
                            {{#each range }}
                            <div class="col-auto">
                                <label for="inputPassword2" class="visually-hidden"></label>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="{{this}}">
                            </div>
                            {{/each}}
                            <div class="col-auto">
                                <a href="{{button.link}}" type="submit" class="btn btn-primary mb-3">{{button.text}}</a>
                            </div>
                        </form>
                        {{/with}}

                        <hr class="mt-3">

                        {{#each filterList}}
                        <p class="text-body">{{title}}</p>
                        {{#each options}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{value}}
                            </label>
                        </div>
                        {{/each}}
                        {{#if @last}}
                        {{else}}
                        <hr class="mt-3">
                        {{/if}}
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="row g-3 ">
                    {{#each goodsList }}
                    {{> catalogItem}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</main>