<main>
   

    <section>
        {{#with newsBlock}}
        <h2 class="text-center">{{title}}</h2>
        <div class="row g-2">
            {{#each cards}}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">{{title}}
                            {{#if isTop}}
                            <span class="badge bg-danger">TOP</span>
                            {{/if}}
                            {{#if isNew}}
                            <span class="badge bg-success">NEW</span>
                            {{/if}}
                        </h6>
                        <p class="card-text">
                            {{description}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <section>
        {{#with goodsBlock}}
        <div class="card text-center">
            <div class="card-header mb-3">
                <ul class="nav nav-tabs card-header-tabs">
                    {{#if isActive}}
                    {{/if}}
                    {{#if isDisable}}
                    disabled
                    {{/if}}
                    {{#each tabs}}
                    <li class="nav-item col-3">
                        <a class="nav-link  
                    {{#if isActive}}
                    active
                    {{/if}}

                    {{#if isDisabled}}
                    disabled
                    {{/if}}" aria-current="true" href="#">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>

              {{> shopcard}}
        </div>
        {{/with}}
    </section>

    <section>
        {{#with subscribe}}
        <div class="card bg-secondary text-light">
            <div class="card-body">
                <h5 class="card-title">{{header}}</h5>
                <p class="card-text">{{description}}</p>
                {{#each buttons}}
                <div class="mb-2"><a href="{{link}}" class="btn btn-primary">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    

</main>