<main>
    <section>
        {{> breadcrumb}}
        {{#with productData}}
        <div class="row">

            <div class="col-6">
                <img src="{{img}}" alt="...">
                <div class="card mt-3">
                    <div class="card-body"></div>
                    {{#with info}}
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{about}}</p>
                    <h5>{{price}}
                        <br>
                        {{#each category}}
                        <span class="badge
                        {{#if isHot}}
                        bg-danger
                        {{/if}}
                        {{#if isNew}}
                        bg-primary
                        {{/if}}
                        {{#if isBonus}}
                        bg-info
                        {{/if}}                                
                         ">{{name}}</span>
                        {{/each}}
                        </h4>
                        {{/with}}
                </div>
            </div>

            <div class="col-6">
                {{#with item}}
                <table class="table">
                    <thead>
                        <tr>
                            {{#each head}}
                            <th scope="col">{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each body}}
                        <tr>
                            {{#each this}}
                            {{#if @first}}
                            <th scope="row">{{this}}</th>
                            {{else}}
                            <td>{{this}}</td>
                            {{/if}}
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/with}}
                <div class="card" style="width: 18rem;">
                    {{#with param}}
                    <div class="card-header">
                        {{title}}
                    </div>
                    <ul class="list-group list-group-flush">
                        {{#each list}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                    {{/with}}
                </div>
                {{#with alert}}
                <div class="alert mt-2
                {{#if isError}}
                alert-danger
                text-danger
                {{/if}}
                " role="alert">
                    {{text}}
                </div>
                {{/with}}
            </div>

        </div>
        <div class="card">
            <div class="card-body row">
                {{#each actionList}}
                <a href="#" class="btn col-2 me-2
                {{#if isWarning}}
                btn-warning
                {{/if}}
                {{#if isError}}
               btn-outline-danger
                {{/if}}
                {{#if isSuccess}}
                btn-success
                {{/if}}
                {{#if isGood}}
                btn-outline-success
                {{/if}}
                ">{{name}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <section>
        {{#with goodsOtherBlock}}
        <h3 class="text-center">{{title}}</h3>

        {{> shopcard}}

        {{/with}}
    </section>

</main>