<main>
    <section>
        {{#with navigation}}
        <ul class="nav nav-pills">
            {{#each links}}
            {{#if disabled}}
            <li class="nav-item">
                <a class="nav-link disabled" href="{{href}}">{{text}}</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="{{href}}">{{text}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        {{/with}}
    </section>

    <section>
        {{#with newsBlock}}
        <h2 class="text-center">{{title}}</h2>
        <div class="row g-2">
            {{#each cards}}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">{{title}}
                            {{#if isTop}}
                            <span class="badge bg-danger">TOP</span>
                            {{/if}}
                            {{#if isNew}}
                            <span class="badge bg-success">NEW</span>
                            {{/if}}
                        </h6>
                        <p class="card-text">
                            {{description}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <section>
        {{#with goodsBlock}}
        <div class="card text-center">
            <div class="card-header mb-3">
                <ul class="nav nav-tabs card-header-tabs">
                    {{#if isActive}}
                    {{/if}}
                    {{#if isDisable}}
                    disabled
                    {{/if}}
                    {{#each tabs}}
                    <li class="nav-item col-3">
                        <a class="nav-link  
                    {{#if isActive}}
                    active
                    {{/if}}

                    {{#if isDisabled}}
                    disabled
                    {{/if}}" aria-current="true" href="#">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="row">
                {{#each cards}}
                <div class="col-4">
                    <div class="card m-2">
                        <img src="{{image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}
                                {{#if isHot}}
                                <span class="badge bg-danger">HOT</span>
                                {{/if}}
                                {{#if isNew}}
                                <span class="badge bg-success">NEW</span>
                                {{/if}}
                            </h5>

                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <section>
        {{#with subscribe}}
        <div class="card bg-secondary text-light">
            <div class="card-body">
                <h5 class="card-title">{{header}}</h5>
                <p class="card-text">{{description}}</p>
                {{#each buttons}}
                <div class="mb-2"><a href="{{link}}" class="btn btn-primary">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <section>
        {{#with service}}
        <div class="card bg-success text-light text-center">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                {{#each buttons}}
                <div class="mb-2"><a href="{{link}}" class="btn btn-primary">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <section>
       <div class="row">
           
           {{#each footer}}
           <div class="col-2">
               <ul class="nav nav-pills flex-column">
                   {{#each this}}
                   {{#if disabled}}
                   <li class="nav-item">
                       <a class="nav-link disabled" href="{{href}}">{{text}}</a>
                   </li>
                   {{else}}
                   <li class="nav-item">
                       <a class="nav-link" href="{{link}}">{{text}}</a>
                   </li>
                   {{/if}}
                   {{/each}}
               </ul>
           </div>
           
           {{/each}}
       </div>
    </section>
</main>