<section>
    <main>

        <h1 class="text-center">{{page_header.title}}</h1>
        <p class="text-center">{{page_header.description}}</p>

        {{#with section}}

        {{#with about_us}}
        <div class="card">
            <div class="card-body">
                <p class="display-6 text-end">{{title_list.main}}</p>
                <h2 class="text-end">{{title_list.sub}}</h2>
                <button class="btn btn-primary">{{button.text}}</button>
            </div>
        </div>
        {{/with}}

        <br>
        {{#with advantage}}
        <div class="card">
            <p class="display-5 card-body text-secondary">{{title}}</p>
            <div class="card-body">
                <div class="card">
                    {{#with efficiency}}
                    <p class="display-4 card-body">{{title}}</p>
                    <h6 class="card-body">{{sub_title}}</h6>
                    <p class="card-body">{{description}}</p>
                    <div class="card-body"><button class="btn btn-outline-warning ">{{button}}</button></div>
                    {{/with}}
                </div>
            </div>

            <br>
            {{#with innovation}}
            <div class="card-body">
                <div class="card">
                    <p class="display-4 text-center">{{title}}</p>
                    <div class="card-body">
                        <h6 class="text-center">{{sub_title}}</h6>
                        <p class="text-center">{{description}}</p>
                        <div class="card-body"><button class="btn btn-outline-warning ">{{button}}</button></div>

                    </div>
                </div>
            </div>
            {{/with}}
            <br>
            {{#with collaboration}}
            <div class="card-body">
                <div class="card">
                    <p class="display-4 text-end">{{title}}</p>
                    <div class="card-body">
                        <h6 class="text-end text-secondary">{{sub_title}}</h6>
                        <p class="text-end">{{description}}</p>
                        <div class="card-body"><button class="btn btn-outline-warning ">{{button}}</button></div>

                    </div>
                </div>
            </div>
        </div>
        {{/with}}
        {{/with}}

        <br>
        {{#with agreement}}
        <div class="card-body">
            <div class="card">
                <p class="display-5 ">{{title}}</p>

                <div class="card-body">
                    {{#with info}}
                    <div class="card">
                        <div class="card-body">
                            <h5>{{sub_title}}</h6>
                            {{#with detail}}
                            <div class="card">
                                <div class="card-body">
                                    <p>{{text}}</p>
                                    <div class="card-body"><button class="btn btn-success">{{button}}</button></div>
                                </div>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/with}}

        {{/with}}




    </main>
</section>