<main>
    <section>
        <h1>WEB</h1>
        {{#with web}}
        {{#each languages}}

        <ul class="list-group">
            <li class="list-group-item">
                <strong> {{name}}</strong>(<em>{{version}}</em>)
                <br>
                <strong>Description:</strong> {{description}}
                <ul class="list-group">
                    <br>
                    {{#if elements}}
                    <b>Elements:</b>
                    {{/if}}
                    {{#each elements}}

                    <li class="list-group-item"><strong>Name:</strong>
                        "{{name}}"
                        <br>
                        <b>Description:</b> {{description}}
                        <br>
                        <b>Attributes:</b>
                        <ul class="list-group">
                            {{#each attributes}}
                            <li class="list-group-item">
                                <b>Name:</b> "{{name}}"
                                
                                <b class="mt-3">Description:</b> {{description}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br>
                    {{/each}}

                    {{#if properties}}
                    <b>Properties:</b>
                    {{/if}}
                    {{#each properties}}
                    <li class="list-group-item">
                        <b>Name: </b> "{{name}}"
                        <br>
                        <b>Description:</b> {{description}}
                        <br>
                        <b>Value:</b>
                        <ul class="list-group">
                            {{#each values}}
                            <li class="list-group-item">
                                <b>Value:</b> "{{value}}"
                               
                                <b class="mt-3">Description:</b> {{description}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br>
                    {{/each}}
                    {{#if functions}}
                    <b>Functions:</b>
                    {{/if}}
                    {{#each functions}}
                    <li class="list-group-item">
                        <b>Name: </b> "{{name}}"
                       
                        <b class="mt-3">Description:</b> {{description}}
                       
                        <b>Parameters:</b>
                        <ul class="list-group">
                            {{#each parameters}}
                            <li class="list-group-item">
                                <b>Name:</b> "{{name}}"
                               
                                <b class="mt-3">Type:</b>"{{type}}"
                              
                                <b class="mt-3">Description:</b> {{description}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br>
                    {{/each}}

                </ul>

            </li>
        </ul>
        {{/each}}
        {{/with}}
    </section>
</main>