<div>
    {{#with main}}

    <main>
        <section>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{> title data = title big = true}}</h4>
                    <div>
                        <ul class="list-group">
                            {{#each work}}
                            <li class="list-group-item">
                                <div class="mt-3">{{position}}</div>
                                <div class="mt-3">
                                    {{duration.from}} - {{#if duration.to}} {{duration.to}} {{else}} (Work now) {{/if}}
                                </div>
                                {{#if company.url}}
                                <div> {{> link href=company.url text = company.name}}</div>
                                {{else}}
                                <b>{{company.name}}</b>
                                {{/if}}
                                <div class="mt-3">
                                    <strong>
                                        Project ({{projectAmount}})
                                    </strong>
                                </div>
                                <ul class="list-group mt-3">
                                    {{#each projects}}
                                    <li class="list-group-item">
                                        <div>
                                            {{> link text = name href=url blank = true noLine=true}}
                                        </div>
                                        <div>
                                            <p>
                                                {{about}}
                                            </p>
                                        </div>
                                        <div>
                                            <em> Project stacks({{stackAmoGnt}}): </em>
                                            {{#each stacks}}
                                            {{name}},
                                            {{/each}}
                                        </div>
                                        <br>
                                        <div>
                                            <em> Project awards: </em>
                                            {{#each awards}}
                                            {{name}},
                                            {{/each}}
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{/with}}
</div>